Authorization Code Token exchange with PKCE code_verifier errors out

**Describe the bug**
Firstly, I know that the OpenCollective API is not currently documented to support PKCE, however, if that was really the case, then sending the `code_verifier` parameter to the `/oauth/token` endpoint would have no impact.

Per [RFC6749 Section 3.2](https://datatracker.ietf.org/doc/html/rfc6749#section-3.2): Token Endpoint
> The authorization server MUST ignore unrecognized request parameters.

So if OpenCollective doesn't support PKCE, then the `code_verifier` parameter must be ignored.

**To Reproduce**
Steps to reproduce the behavior:

1. Create an authorization code (with or without `code_challenge` and `code_challenge_method` parameters)
2. Attempt to exchange the authorization code for an access token, setting the `code_verifier` parameter to any value
3. See error

**Expected behavior**
The token endpoint should successfully exchange the authorization code for an Token Response, including the properties `token_type` and `access_token` at minimum, per [RFC6749 Section 5.1](https://datatracker.ietf.org/doc/html/rfc6749#section-5.1).

**Actual behavior**
An error response is returned, indicating something was done with that `code_verifier` parameter:
```json
{
  "error": "invalid_grant",
  "error_description": "Invalid grant: code verifier is invalid"
}
```

The underlying cause is the Node OAuth2Server library that you use actually does implement PKCE by default, but the Authorization Code that's stored in the database by OpenCollective doesn't have the `codeChallenge` and `codeChallengeMethod` properties, hence PKCE cannot be verified correctly.

In the case of not sending the `code_verifier`, then the token response still isn't OAuth 2 compliant, as it does not contain the `token_type` property:
```json
{
  "access_token": "some token value"
}
```
This is because of the custom integration in the OpenCollective API for transforming Access Token values to JWTs, which was done in a way that results in a non-standard response.

**Screenshots**
n/a

**Device:**
- OS: all
- Browser: all

**Additional context**
PKCE was originally intended for just mobile apps, but as of the [Current Best Practice for OAuth 2.0 Security (RFC9700)](https://www.rfc-editor.org/rfc/rfc9700), PKCE is recommended for all authorization code exchanges due to the security risk of authorization codes being compromised.

I've prepared pull requests to fix this by fully implementing PKCE for OpenCollective's API and Frontend:
- https://github.com/opencollective/opencollective-api/pull/10912
- https://github.com/opencollective/opencollective-frontend/pull/11263
